In [1]:
from StockSeriesAPI import *
from CoinAPI import *
from scraper import *

In [2]:
IBM_data = TIME_SERIES_DAILY_ADJUSTED('IBM')
csv = TIME_SERIES_TO_CSV(IBM_data)
display(csv)

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2021-01-13,129.15,129.75,126.455,126.92,126.92,7677739,0.0000,1.0
2021-01-12,129.09,129.85,127.94,129.21,129.21,3729068,0.0000,1.0
2021-01-11,127.95,129.675,127.66,128.58,128.58,5602466,0.0000,1.0
2021-01-08,128.57,129.32,126.98,128.53,128.53,4676487,0.0000,1.0
2021-01-07,130.04,130.46,128.26,128.99,128.99,4507382,0.0000,1.0
...,...,...,...,...,...,...,...,...
2020-08-27,124.6,125.1,123.98,124.65,122.91579464,3422654,0.0000,1.0
2020-08-26,124.95,125.12,123.95,124.17,122.442472687,3388687,0.0000,1.0
2020-08-25,126.0,126.82,124.49,124.64,122.905933766,2977697,0.0000,1.0
2020-08-24,123.79,126.06,123.36,125.68,123.931464664,4070816,0.0000,1.0
2020-08-21,123.01,123.4842,122.31,123.16,121.446524411,3385051,0.0000,1.0

In [3]:
BTC_exchange_rate = Coin_Exchange_Rate()
btc_csv = Coin_Exchange_Rate_To_csv(BTC_exchange_rate)
display(btc_csv)

                                        time          rate
asset_id_quote
LINK            2021-01-14T13:08:16.0715140Z  2.372109e+03
REP             2021-01-14T13:06:15.8334440Z  1.958864e+03
XRP             2021-01-14T13:08:15.9874910Z  1.299545e+05
CGLD            2021-01-14T13:08:15.9143120Z  1.793722e+04
XTZ             2021-01-14T13:08:16.0669920Z  1.543925e+04
...                                      ...           ...
KRW             2021-01-14T13:08:16.0865140Z  4.208784e+07
HRK             2021-01-14T13:08:16.0865140Z  2.389506e+05
HUF             2021-01-14T13:08:16.0865140Z  1.135571e+07
NOK             2021-01-14T13:08:16.0865140Z  3.259034e+05
RUB             2021-01-14T13:08:16.0865140Z  2.830209e+06

[81 rows x 2 columns]