In [1]:
from StockSeriesAPI import *
from CoinAPI import *
from scraper import *

In [2]:
IBM_csv = TIME_SERIES_DAILY_ADJUSTED_TO_CSV('IBM')
display(IBM_csv)

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
2021-01-26,119.18,122.59,118.42,122.49,122.49,10587011,0.0000,1.0
2021-01-25,118.7624,119.538,117.45,118.58,118.58,13686391,0.0000,1.0
2021-01-22,120.7,120.7,117.36,118.61,118.61,38063533,0.0000,1.0
2021-01-21,130.12,132.24,130.05,131.65,131.65,12819233,0.0000,1.0
2021-01-20,129.7,131.06,128.56,130.08,130.08,5598705,0.0000,1.0
...,...,...,...,...,...,...,...,...
2020-09-09,122.13,123.7,121.29,122.26,120.559045749,3770678,0.0000,1.0
2020-09-08,122.16,122.87,120.71,121.21,119.523653977,5210292,0.0000,1.0
2020-09-04,124.35,125.35,121.24,122.3,120.598489245,6018238,0.0000,1.0
2020-09-03,128.19,129.95,123.65,124.45,122.718577159,5716750,0.0000,1.0
2020-09-02,123.72,128.7,123.575,128.18,126.396683168,6592430,0.0000,1.0

In [3]:
BTC_csv = COIN_EXCHANGE_RATE_TO_CSV()
display(BTC_csv)

                                        time          rate
asset_id_quote
VTC             2021-01-26T23:44:38.4210867Z  1.683502e+05
QLC             2021-01-26T23:03:27.1346603Z  1.818182e+06
GLEEC           2021-01-26T23:46:27.7115746Z  5.230126e+04
GEO             2021-01-26T23:46:27.4136585Z  1.666667e+05
STEEM           2021-01-26T23:46:56.5932428Z  1.792115e+05
...                                      ...           ...
INR             2021-01-27T02:55:54.3003590Z  2.344315e+06
XWC             2021-01-27T02:55:54.3003590Z  5.229780e+04
RUB             2021-01-27T02:55:54.3003590Z  2.415746e+06
JPY             2021-01-27T02:55:54.3003590Z  3.333723e+06
TRY             2021-01-27T02:55:54.3003590Z  2.363203e+05

[248 rows x 2 columns]